$saveColor: #295d91;

.module {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.add-text-item {
  position:absolute;
  top:65px;
  left:-180px;
  display:none;
  width:325px;
  height:200px;
  .open &, &.show {
    display:block;
  }
  textarea {
    height: 100%;
    width: 100%;
    resize:none;
    border-radius: 3px;
    border: 3px solid black;
    padding-bottom: 65px;
  }
}

.btn {
    position:absolute;
    display:block;
    font-size: 16px;
    line-height: 40px;
    padding: 0 16px 0 16px;
    border-radius: 3px;
  }
  .save {
    right: 10px;
    bottom: 10px;

    background: $saveColor;
    color:white;

    &:hover {
      cursor: pointer;
      background: lighten($saveColor, 10%);
    }
  }
  .cancel {
    left: 10px;
    bottom: 10px;

    background: gray;
    color:white;

    &:hover {
      cursor: pointer;
      background: lighten(gray, 10%);
    }
  }

.add-photo-item {
  position:absolute;
  top:65px;
  left:-235px;
  display:none;
  width:325px;
  min-height:200px;
  max-height: 500px;
  background:white;
  border: 3px solid black;
  border-radius: 3px;
  &:hover {
    cursor: default;
  }
  h2 {
    font-size: 18px;
    text-align: center;
    margin-top:8px;
  }
  form {
    margin: 0;
    padding:0;
    margin-top: -10px;
  }
  input[type='file']{
    font-size: 14px;
    padding: 10px;
    background: rgb(245,245,245);
    border: 1px solid rgb(180,180,180);
    margin:auto;
  }
  .open &, &.show {
    display:block;
  }
  .photo-preview {
    margin-top: -5px;
    margin-bottom: 50px;
    max-height: 300px;
    overflow: scroll;
    position:relative;
    span {
      display:block;
      padding:10px;
      max-height: 75%;
    }

    .progress-bar-wrap {
      display:none;
      height: 30px;
      position:absolute;
      top:30px;
      width:100%;
      &.show {
        display:block;
      }
      &:before {
        content: "Uploading... this might take a minute";
        text-align: center;
        color:white;
        text-shadow: 0 1px 3px rgba(0,0,0,0.8);
        font-size: 14px;
        position:absolute;
        top:-12px;
        left:0;
        right:0;
      }
      .progress-bar {
        background: $saveColor;
        width: 5px;
        height:100%;
      }
    }
  }
}


