$bar_width: 54px;
$bar_width_open: 250px;
$bar_icon_height: 54px;
$mainColor: #295d91; // tracpod blue
$headerBG: rgb(50,50,50);

html, body {
    height: 100%;
    -webkit-backface-visibility:hidden; // Fix for opacity animation text shiftiness.
}

@font-face {
   font-family: Carton;
   font-style: normal;
   src: url('font/Carton-Slab.otf');
}

#journal {
    min-height: 100%;
    margin: auto;
    @media (max-width: 599px) {
        width: 95%;
    }
    @media (min-width: 600px) and (max-width: 759px) {
        width: 600px;
    }
    @media (min-width: 760px) and (max-width: 959px) {
        width: 760px;
    }
    @media (min-width: 960px) {
        width: 960px;
    }
}

/**************
 * TOP HEADER *
 **************/
 .header-wrap {
    // position:absolute;
    // z-index:20;
    // height:54px;
    // margin-bottom:6px;
    // overflow:visible;
 }

 .header {
    height: 54px;
    // min-width: 100%;
    background: $headerBG;
    // padding-left: 54px;
    position: fixed;
    z-index:20;
    @media (max-width: 599px) {
        width: 95%;
        background:rgb(50,50,50);
    }
    @media (min-width: 600px) and (max-width: 759px) {
        width: 600px;
    }
    @media (min-width: 760px) and (max-width: 959px) {
        width: 760px;
    }
    @media (min-width: 960px) {
        width: 960px;
    }
    .logo {
        font-family: Carton, helvetica;
        background: $mainColor;
        float:left;
        height: 100%;
        line-height:57px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 0 10px;
        &:hover {
            background: lighten($mainColor, 5%);
        }
    }
    .button {
        float: right;
        margin-right: 11px;
        margin-top: 11px;
    }
 }


/******************
 * SIDEBAR HEADER *
 ******************/
#sidebar {
    z-index: 1;
    float:right;
    width:auto;
    display:inline-block;
    background: $headerBG;
}

.user-section {
    display:inline-block;
    height: $bar_icon_height;
    width: $bar_icon_height;
    float:left;
    &:hover {
        cursor: pointer;
        background-color: rgb(120,120,120);
    }
    img {
        padding: 5%;
    }

    h2 {
        font-size: 22px;
        line-height: $bar_icon_height - 10px;
        padding-left: 8px;
        padding-right: 8px;
        // float: left;
    }
}

.module {
    $toggleCommentsBG: rgb(70,70,70);
    $toggleCommentsColor: rgb(200,200,200);
    width: $bar_icon_height;
    font-size: 22px;
    line-height: $bar_icon_height;

    color: $toggleCommentsColor;

    text-align: center;
    display:inline-block;
    position:relative;
    z-index:20;
    &:hover {
        cursor: pointer;
        background: lighten($toggleCommentsBG, 6%);
        color: lighten($toggleCommentsColor, 20%);
    }

    &.open {
        // background: lighten($toggleCommentsBG, 6%);
        // color: lighten($toggleCommentsColor, 20%);
        // outline: 1px solid rgba(240,240,240,0.3);
        i {
            padding: 10px;
            border-radius: 2px;
            border: 1px solid rgba(240,240,240,0.3);
        }
    }

}

/********************
 STREAM
 ********************/
 @mixin breakPoint($barWidth, $minWidth, $marginLR: 5px, $maxWidth: 100000px) {
    $mainWidth: $minWidth - $barWidth;
    @media (min-width: $minWidth) and (max-width: $maxWidth) {
        width: $mainWidth;
        $size1: ($mainWidth / 3) - ($marginLR*2);
        $size2: (($mainWidth / 3)*2) - ($marginLR*2);
        .col1 { width: floor($size1); }
        .col2 { width: floor($size2); }
        .col3 { width: $mainWidth; }
        .item {
            margin: 5px $marginLR;
        }
    }
}

 #stream {
    top:60px;
    position:relative;
    transition: opacity 0.5s ease;
    @media (max-width: 599px) {
        width: 90%;
        .col1, col2, .col3 { min-width: 90%; }
        .item { margin: 5px 5px; }
    }
    @include breakPoint(0, 600px, 5px, 759px);
    @include breakPoint(0, 760px, 5px, 959px);
    @include breakPoint(0, 960px, 10px);
    &.obscure {
        opacity: 0.2;
    }

    &.shrink {
        margin-right: $bar_width_open;

        @media (max-width: 759px) {
            width: 300px;

            .col1, col2, .col3 { width: 90%; }
            .item { margin: 5px 5px; }
        }
        @include breakPoint($bar_width_open, 760px, 5px, 959px);
        @include breakPoint($bar_width_open, 960px, 5px);
    }
}

.item {
    float: left;
    padding:0;
    overflow:hidden;
    border-top: 4px solid rgb(200,200,200);
    padding-top: 8px;
}

.text-item {
    // background-color: rgb(245,245,245);
    min-height: 100px;
    //max-height: 200px;
    // border-bottom: 1px solid rgb(200,200,200);
    .text-wrap {
        // border-top: 4px solid rgb(200,200,200);
    }
    p {
        font-size: 20px;
        line-height: 28px;
        @media (max-width: 759px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.btn {
    padding: 8px 8px 9px 8px;
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.signup-btn, .login-btn {
    float: right;
    margin-top: 11px;
    margin-right: 11px;
}

.signup-btn {
    background: #F39C12;
    &:hover {
        background: #A38C12;
    }
}


.login-btn {
    background: #3498DB;
    &:hover {
        background: #2980B9;
    }
}