<div class="header">
  <div class='user-section'>
    <img class="profile-picture"
    src="<%= profile_picture %>"
    alt="<%= name.first + ' ' + name.last %>'s profile picture"/>
  </div>

  <a href="/"><div class="logo">advntrs</div></a>
  <% if (session_user) { %>
    <!-- <p><%= session_user.name.first + ' ' + session_user.name.last %></p> -->
  <% } else { %>
    <a href="/login"><div class="login-btn btn">Log in</div></a>
    <a href="/signup"><div class="signup-btn btn">Sign Up</div></a>
  <% } %>

  <div id="sidebar">

  </div>
</div>
<div class="gutter"></div>

