<i class='icon-camera'></i>
<div class='add-photo-item'>
	<h2>Add photos</h2>
	<form class='direct-upload' action="https://advntrs-dev.s3.amazonaws.com/" enctype="multipart/form-data" method="post">
		<input type="hidden" name="key" />
		<input type="hidden" name="AWSAccessKeyId" value="AKIAI7QMTE5GQ7RD43RQ"/>
		<input type="hidden" name="acl" value="public-read"/>
		<input type="hidden" name="policy" />
		<input type="hidden" name="signature" />
		<input type="hidden" name="success_action_status" value="201" />
		<input type="file" name="file"/>
	</form>
	<div class="photo-preview">
		<div class="progress-bar-wrap"><div class="progress-bar"></div></div>
	</div>
	<!-- <div class="btn save">Upload</div> -->
	<div class="btn cancel">Cancel</div>
</div>