/* line 3, ../bar_modules.scss */
.module {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 9, ../bar_modules.scss */
.add-text-item {
  position: absolute;
  top: 65px;
  left: -180px;
  display: none;
  width: 325px;
  height: 200px;
}
/* line 16, ../bar_modules.scss */
.open .add-text-item, .add-text-item.show {
  display: block;
}
/* line 19, ../bar_modules.scss */
.add-text-item textarea {
  height: 100%;
  width: 100%;
  resize: none;
  border-radius: 3px;
  border: 3px solid black;
  padding-bottom: 65px;
}

/* line 29, ../bar_modules.scss */
.btn {
  position: absolute;
  display: block;
  font-size: 16px;
  line-height: 40px;
  padding: 0 16px 0 16px;
  border-radius: 3px;
}

/* line 37, ../bar_modules.scss */
.save {
  right: 10px;
  bottom: 10px;
  background: #295d91;
  color: white;
}
/* line 44, ../bar_modules.scss */
.save:hover {
  cursor: pointer;
  background: #3476b9;
}

/* line 49, ../bar_modules.scss */
.cancel {
  left: 10px;
  bottom: 10px;
  background: gray;
  color: white;
}
/* line 56, ../bar_modules.scss */
.cancel:hover {
  cursor: pointer;
  background: #9a9a9a;
}

/* line 62, ../bar_modules.scss */
.add-photo-item {
  position: absolute;
  top: 65px;
  left: -235px;
  display: none;
  width: 325px;
  min-height: 200px;
  max-height: 500px;
  background: white;
  border: 3px solid black;
  border-radius: 3px;
}
/* line 73, ../bar_modules.scss */
.add-photo-item:hover {
  cursor: default;
}
/* line 76, ../bar_modules.scss */
.add-photo-item h2 {
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
}
/* line 81, ../bar_modules.scss */
.add-photo-item form {
  margin: 0;
  padding: 0;
  margin-top: -10px;
}
/* line 86, ../bar_modules.scss */
.add-photo-item input[type='file'] {
  font-size: 14px;
  padding: 10px;
  background: whitesmoke;
  border: 1px solid #b4b4b4;
  margin: auto;
}
/* line 93, ../bar_modules.scss */
.open .add-photo-item, .add-photo-item.show {
  display: block;
}
/* line 96, ../bar_modules.scss */
.add-photo-item .photo-preview {
  margin-top: -5px;
  margin-bottom: 50px;
  max-height: 300px;
  overflow: scroll;
  position: relative;
}
/* line 102, ../bar_modules.scss */
.add-photo-item .photo-preview span {
  display: block;
  padding: 10px;
  max-height: 75%;
}
/* line 108, ../bar_modules.scss */
.add-photo-item .photo-preview .progress-bar-wrap {
  display: none;
  height: 30px;
  position: absolute;
  top: 30px;
  width: 100%;
}
/* line 114, ../bar_modules.scss */
.add-photo-item .photo-preview .progress-bar-wrap.show {
  display: block;
}
/* line 117, ../bar_modules.scss */
.add-photo-item .photo-preview .progress-bar-wrap:before {
  content: "Uploading... this might take a minute";
  text-align: center;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  font-size: 14px;
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
}
/* line 128, ../bar_modules.scss */
.add-photo-item .photo-preview .progress-bar-wrap .progress-bar {
  background: #295d91;
  width: 5px;
  height: 100%;
}
