/* line 7, ../journal.scss */
html, body {
  height: 100%;
  -webkit-backface-visibility: hidden;
}

@font-face {
  font-family: Carton;
  font-style: normal;
  src: url("font/Carton-Slab.otf");
}

/* line 18, ../journal.scss */
#journal {
  min-height: 100%;
  margin: auto;
}
@media (max-width: 599px) {
  /* line 18, ../journal.scss */
  #journal {
    width: 95%;
  }
}
@media (min-width: 600px) and (max-width: 759px) {
  /* line 18, ../journal.scss */
  #journal {
    width: 600px;
  }
}
@media (min-width: 760px) and (max-width: 959px) {
  /* line 18, ../journal.scss */
  #journal {
    width: 760px;
  }
}
@media (min-width: 960px) {
  /* line 18, ../journal.scss */
  #journal {
    width: 960px;
  }
}

/**************
 * TOP HEADER *
 **************/
/* line 46, ../journal.scss */
.header {
  height: 54px;
  background: #323232;
  position: fixed;
  z-index: 20;
}
@media (max-width: 599px) {
  /* line 46, ../journal.scss */
  .header {
    width: 95%;
    background: #323232;
  }
}
@media (min-width: 600px) and (max-width: 759px) {
  /* line 46, ../journal.scss */
  .header {
    width: 600px;
  }
}
@media (min-width: 760px) and (max-width: 959px) {
  /* line 46, ../journal.scss */
  .header {
    width: 760px;
  }
}
@media (min-width: 960px) {
  /* line 46, ../journal.scss */
  .header {
    width: 960px;
  }
}
/* line 66, ../journal.scss */
.header .logo {
  font-family: Carton, helvetica;
  background: #295d91;
  float: left;
  height: 100%;
  line-height: 57px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
}
/* line 76, ../journal.scss */
.header .logo:hover {
  background: #2f6aa5;
}
/* line 80, ../journal.scss */
.header .button {
  float: right;
  margin-right: 11px;
  margin-top: 11px;
}

/******************
 * SIDEBAR HEADER *
 ******************/
/* line 91, ../journal.scss */
#sidebar {
  z-index: 1;
  float: right;
  width: auto;
  display: inline-block;
  background: #323232;
}

/* line 99, ../journal.scss */
.user-section {
  display: inline-block;
  height: 54px;
  width: 54px;
  float: left;
}
/* line 104, ../journal.scss */
.user-section:hover {
  cursor: pointer;
  background-color: #787878;
}
/* line 108, ../journal.scss */
.user-section img {
  padding: 5%;
}
/* line 112, ../journal.scss */
.user-section h2 {
  font-size: 22px;
  line-height: 44px;
  padding-left: 8px;
  padding-right: 8px;
}

/* line 121, ../journal.scss */
.module {
  width: 54px;
  font-size: 22px;
  line-height: 54px;
  color: #c8c8c8;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 20;
}
/* line 134, ../journal.scss */
.module:hover {
  cursor: pointer;
  background: #555555;
  color: #fbfbfb;
}
/* line 144, ../journal.scss */
.module.open i {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgba(240, 240, 240, 0.3);
}

/********************
 STREAM
 ********************/
/* line 171, ../journal.scss */
#stream {
  top: 60px;
  position: relative;
  transition: opacity 0.5s ease;
}
@media (max-width: 599px) {
  /* line 171, ../journal.scss */
  #stream {
    width: 90%;
  }
  /* line 177, ../journal.scss */
  #stream .col1, #stream col2, #stream .col3 {
    min-width: 90%;
  }
  /* line 178, ../journal.scss */
  #stream .item {
    margin: 5px 5px;
  }
}
@media (min-width: 600px) and (max-width: 759px) {
  /* line 171, ../journal.scss */
  #stream {
    width: 600px;
  }
  /* line 162, ../journal.scss */
  #stream .col1 {
    width: 190px;
  }
  /* line 163, ../journal.scss */
  #stream .col2 {
    width: 390px;
  }
  /* line 164, ../journal.scss */
  #stream .col3 {
    width: 600px;
  }
  /* line 165, ../journal.scss */
  #stream .item {
    margin: 5px 5px;
  }
}
@media (min-width: 760px) and (max-width: 959px) {
  /* line 171, ../journal.scss */
  #stream {
    width: 760px;
  }
  /* line 162, ../journal.scss */
  #stream .col1 {
    width: 243px;
  }
  /* line 163, ../journal.scss */
  #stream .col2 {
    width: 496px;
  }
  /* line 164, ../journal.scss */
  #stream .col3 {
    width: 760px;
  }
  /* line 165, ../journal.scss */
  #stream .item {
    margin: 5px 5px;
  }
}
@media (min-width: 960px) and (max-width: 100000px) {
  /* line 171, ../journal.scss */
  #stream {
    width: 960px;
  }
  /* line 162, ../journal.scss */
  #stream .col1 {
    width: 300px;
  }
  /* line 163, ../journal.scss */
  #stream .col2 {
    width: 620px;
  }
  /* line 164, ../journal.scss */
  #stream .col3 {
    width: 960px;
  }
  /* line 165, ../journal.scss */
  #stream .item {
    margin: 5px 10px;
  }
}
/* line 183, ../journal.scss */
#stream.obscure {
  opacity: 0.2;
}
/* line 187, ../journal.scss */
#stream.shrink {
  margin-right: 250px;
}
@media (max-width: 759px) {
  /* line 187, ../journal.scss */
  #stream.shrink {
    width: 300px;
  }
  /* line 193, ../journal.scss */
  #stream.shrink .col1, #stream.shrink col2, #stream.shrink .col3 {
    width: 90%;
  }
  /* line 194, ../journal.scss */
  #stream.shrink .item {
    margin: 5px 5px;
  }
}
@media (min-width: 760px) and (max-width: 959px) {
  /* line 187, ../journal.scss */
  #stream.shrink {
    width: 510px;
  }
  /* line 162, ../journal.scss */
  #stream.shrink .col1 {
    width: 160px;
  }
  /* line 163, ../journal.scss */
  #stream.shrink .col2 {
    width: 330px;
  }
  /* line 164, ../journal.scss */
  #stream.shrink .col3 {
    width: 510px;
  }
  /* line 165, ../journal.scss */
  #stream.shrink .item {
    margin: 5px 5px;
  }
}
@media (min-width: 960px) and (max-width: 100000px) {
  /* line 187, ../journal.scss */
  #stream.shrink {
    width: 710px;
  }
  /* line 162, ../journal.scss */
  #stream.shrink .col1 {
    width: 226px;
  }
  /* line 163, ../journal.scss */
  #stream.shrink .col2 {
    width: 463px;
  }
  /* line 164, ../journal.scss */
  #stream.shrink .col3 {
    width: 710px;
  }
  /* line 165, ../journal.scss */
  #stream.shrink .item {
    margin: 5px 5px;
  }
}

/* line 201, ../journal.scss */
.item {
  float: left;
  padding: 0;
  overflow: hidden;
  border-top: 4px solid #c8c8c8;
  padding-top: 8px;
}

/* line 209, ../journal.scss */
.text-item {
  min-height: 100px;
}
/* line 217, ../journal.scss */
.text-item p {
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 759px) {
  /* line 217, ../journal.scss */
  .text-item p {
    font-size: 16px;
    line-height: 24px;
  }
}

/* line 227, ../journal.scss */
.btn {
  padding: 8px 8px 9px 8px;
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/* line 235, ../journal.scss */
.signup-btn, .login-btn {
  float: right;
  margin-top: 11px;
  margin-right: 11px;
}

/* line 241, ../journal.scss */
.signup-btn {
  background: #F39C12;
}
/* line 243, ../journal.scss */
.signup-btn:hover {
  background: #A38C12;
}

/* line 249, ../journal.scss */
.login-btn {
  background: #3498DB;
}
/* line 251, ../journal.scss */
.login-btn:hover {
  background: #2980B9;
}
